<div class="wrapper">

<h1 class="text-center display-3 m-2"> Live your best <span class="text">sweet potato</span> life!</h1>

<div class="jumbotron mt-5">
    <h1 class="display-6 text-center">Sign up for a free seminar!</h1>
    <p class="lead">Learn all the useless facts and figures about sweet potatoes you'll need to constantly annoy friends and family!</p>
    <hr class="my-4">
    <p>Free seminars every Saturday at 10am.</p>
    <form>
        <p>First name: </p>
        <input type="text" value="">
        <p></p>
        <p>Last name: </p>
        <input type="text" value="">
        <p></p>
        <p>Email: </p>
        <input type="text" value="">
        <br>
    </form>


    <p class="lead">
      <a class="btn btn-primary btn-lg mt-3" href="#" role="button">Sign up</a>
    </p>
  </div>
</div>